@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@tailwind base;

@tailwind components;
@tailwind utilities;
@layer base {
    h1,
    button {
        font-family: 'Josefin Sans', sans-serif;
    }
}

@layer components {
    .footer {
        @apply mx-[5vh] my-[5vh] flex flex-col items-center justify-center text-center text-gray-800;
    }
    .socials {
        @apply my-5 flex flex-col space-y-2 xs:flex-row xs:space-x-5 xs:space-y-0;
    }
    .header {
        @apply my-2 flex h-[10vh] flex-col 
     items-center justify-center bg-white py-10 px-[10%] text-black xs:flex-row sm:my-10 sm:flex-row sm:items-baseline;
    }
    .fourth {
        @apply flex;
    }
    .fourth-menu {
        @apply flex w-1/4 flex-col items-end justify-center bg-[#fd9903] xs:w-1/3;
    }
    .fourth-menu-grp {
        @apply relative 
     left-[1.3rem] xs:left-[2.5rem] sm:left-[4rem]
     md:left-[5rem] lg:left-[6rem] xl:left-[7.9rem] 2xl:left-[10.5rem];
    }
    .fourth-img {
        @apply /*bg-new-season*/ w-3/4 bg-cover bg-[position:center_50%] bg-no-repeat 
     py-[30%] xs:w-2/3 xs:bg-[position:center_0%] 2xl:py-[20%];
    }
    .fifth {
        @apply flex flex-wrap items-center justify-center bg-[#f0f0f0] sm:flex-nowrap;
    }
    .fifth-card {
        @apply m-2 my-10 flex flex-col xs:mx-2 sm:m-2 sm:my-10 md:m-6 lg:m-10;
    }
    .fifth-card-img {
        @apply mx-14 h-[80vw] w-[auto] bg-cover
     bg-[position:top_center] bg-no-repeat xs:mx-16 xs:h-[70vw] sm:mx-6 sm:h-[30vw] md:mx-6 lg:mx-2 xl:h-[30vw] xl:bg-[position:center];
    }
    .fifth-card-img-1 {
        @apply fifth-card-img /*bg-card-1*/ bg-[position:80%_top] xl:bg-[position:80%_center];
    }
    .fifth-card-img-2 {
        @apply fifth-card-img /*bg-card-2*/;
    }
    .fifth-card-img-3 {
        @apply fifth-card-img /*bg-card-3*/;
    }
    .sixth {
        @apply flex;
    }
    .sixth-menu {
        @apply flex w-2/3 flex-col items-center justify-center bg-[#313131];
    }
    .sixth-img {
        @apply /*bg-fashion*/  w-1/3 bg-cover bg-[position:center_top_25%] bg-no-repeat 
    py-[30%] 2xl:py-[20%];
    }
    .seventh {
        @apply flex flex-col items-center justify-center bg-[#f0f0f0];
    }
    .seventh-card {
        @apply my-5 mx-5 flex bg-white;
    }
    .seventh-card-menu {
        @apply flex w-1/2 items-center justify-center p-[6%];
    }
    .seventh-card-menu {
        @apply flex flex-col items-center justify-center;
    }
    .seventh-card-img {
        @apply w-1/2 bg-cover bg-no-repeat;
    }
    .seventh-card-img-1 {
        @apply seventh-card-img /*bg-fashion-card-1*/ bg-[position:center_top_30%];
    }
    .seventh-card-img-2 {
        @apply seventh-card-img /*bg-fashion-card-2*/ bg-[position:top];
    }
    .seventh-card-img-3 {
        @apply seventh-card-img /*bg-fashion-card-3*/ bg-[position:top];
    }
    .reverse {
        @apply flex-row-reverse bg-[#f19a29] text-white;
    }
}

@layer utilities {
    .socials svg {
        @apply rounded-3xl bg-[#f19a29] px-3 py-2 text-white transition-all duration-100 ease-linear sm:hover:rounded-lg;
    }

    .fourth-menu h1 {
        @apply -mb-3 text-base font-bold uppercase 
     tracking-wide text-white xs:-mb-2 xs:text-3xl sm:-mb-1 sm:text-5xl md:mb-0
     md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl;
    }
    .fourth-menu button {
        @apply border-none bg-[#313131] py-[0.15rem]
     px-3 text-[0.3rem] text-white
     xs:py-[0.22rem] xs:px-[1.59rem] xs:text-[0.5rem]
     sm:py-[0.38rem] sm:px-[3.1rem] sm:text-[0.6rem]
     md:py-[0.38rem] md:px-[3.7rem] md:text-[0.8rem]
     lg:py-[0.45rem] lg:px-[4.3rem] lg:text-[1rem]
     xl:py-[0.5rem] xl:px-[6.4rem] xl:text-lg 
     2xl:py-[0.9rem] 2xl:px-[9.15rem] 2xl:text-xl;
    }
    .fifth-card h1 {
        @apply my-12 text-center text-2xl font-bold text-gray-800 sm:text-3xl;
    }
    .fifth-card p {
        @apply mx-5 mb-8 text-center text-sm xs:text-sm sm:text-base;
    }
    .fifth-card button {
        @apply mx-auto border-none bg-[#313131] py-3 px-12 text-[0.5rem] text-white xs:text-xs sm:text-sm;
    }
    .sixth-menu h1 {
        @apply text-2xl font-bold uppercase tracking-wide 
     text-white xs:text-4xl sm:text-6xl lg:text-8xl 2xl:text-9xl;
    }
    .sixth-menu button {
        @apply bg-[#f19a29] px-3
     py-[0.18rem] text-[0.6rem] text-white xs:px-7 xs:py-1
     xs:text-[0.7rem] sm:px-14 sm:py-2 sm:text-base lg:px-28 lg:py-3 lg:text-lg 2xl:py-4 2xl:px-36 2xl:text-2xl;
    }
    .seventh-card-menu p {
        @apply mx-2 my-5 text-center text-sm xs:text-base lg:text-xl xl:text-2xl;
    }
    .seventh-card-menu button {
        @apply mb-5 border-none bg-[#313131]
     py-2 px-8 text-xs text-white xs:text-sm sm:py-3 sm:px-16 lg:text-base xl:text-xl;
    }
    .reverse .seventh-card-menu button {
        @apply bg-white text-black;
    }
}
